<section class="search-sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 my-2">
                <input (keydown.enter)="getReservations()" [formControl]="searchField" type="search"
                    class="form-control rounded" placeholder="Enter pickup city...">
            </div>
            <div class="col-lg-6 my-2">
                <input (keydown.enter)="getReservations()" [formControl]="searchField2" type="search"
                    class="form-control rounded" placeholder="Enter drop city">
            </div>
            <div class="col-lg-12 mb-2 input-group">
                <span class="input-group-text" id="basic-addon1">Date: </span>
                <input class="form-control" type="datetime-local" id="Test_DatetimeLocal">
            </div>

            <div class="d-grid mb-2">
                <button type="button" class="btn btn-danger wrn-btn" (click)="getReservations()">Search</button>
            </div>
        </div>
    </div>
</section>

<app-reservation [reservations]="reservations"></app-reservation>