<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">CarPool</a>
        <div *ngIf="!isLoggedIn">
            <a routerLink="/register" class="btn btn-dark">Register</a>
            <a routerLink="/login" class="btn btn-primary">Login</a>
        </div>
        <div *ngIf="isLoggedIn">
            <a routerLink="/profile">Account</a>
            <a (click)="logout()" class="btn btn-primary">Logout</a>
        </div>
    </div>
</nav>