<div class="container mt-5">
    <div class="row custom-wrapper">
        <h2 class="mb-3 text-center">Create reservation</h2>
        <form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
            <div class="d-grid">
                <select class="custom-select mb-3" (change)="changeCity($event)" formControlName="pickupCity">
                    <option value="">Choose pickup location</option>
                    <option *ngFor="let city of City" [ngValue]="city">
                        {{ city }}
                    </option>
                </select>
                <!-- error block -->
                <div class="invalid-feedback" *ngIf="isSubmitted && cityName?.invalid">
                    <sup>*</sup>Please provide city name
                </div>
            </div>

            <div class="d-grid">
                <select class="custom-select mb-3" (change)="changeCity($event)" formControlName="dropoffCity">
                    <option value="">Choose dropoff locaiton</option>
                    <option *ngFor="let city of City" [ngValue]="city">
                        {{ city }}
                    </option>
                </select>
                <!-- error block -->
                <div class="invalid-feedback" *ngIf="isSubmitted && cityName?.invalid">
                    <sup>*</sup>Please provide city name
                </div>
            </div>

            <div>
                <input type="number" >
            </div>

            <button type="submit" class="btn btn-danger btn-lg btn-block">
                Submit
            </button>
        </form>
    </div>
</div>