<div class="container-fluid my-3">
    <div class="row">
        <div class="col-md-6">
            <app-map></app-map>
        </div>

        <div class="col-md-6">
            <button class="btn btn-success w-100" (click)="onClick()">
                {{createReservation ? "Back" : "Create reservation"}}
            </button>
            <app-search *ngIf="!createReservation"></app-search>
            <app-reservation-form *ngIf="createReservation"></app-reservation-form>
        </div>
    </div>

</div>