<ul class="list-group">
  <li *ngFor="let r of reservations | paginate: { itemsPerPage: 3, currentPage: p }" class="list-group-item page-item">
    <div (click)="setMarker(r)">
      <p>
        <span>{{ r.startTime }} - {{ r.endTime }}</span>
      </p>
      <p>
        <span>{{ r.pickupLocation.city }} - {{ r.dropoutLocation.city }}</span>
      </p>
      <p>
        <span>{{ r.tripCost }}</span>
      </p>
      <p>
        <span>Available seats: {{ r.availableSeats }}</span>
      </p>
      <p>
        <span>STATUS: {{ r.status }}</span>
      </p>
      <form (ngSubmit) = "reserved(r.id)" method="post">
          <div *ngIf="r.status=='ACTIVE'">
              <button type="submit">RESERVE</button>
          </div>
    </form>
  </div>
  </li>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</ul>