<div *ngIf="errorMessage !== ''" class="alert alert-danger" role="alert">
  {{ errorMessage }}
</div>
<div *ngIf="success" class="alert alert-success" role="alert">
  <div>You have successfully reserved your seat.</div>
  <div>Have a nice trip!</div>
</div>
<ul class="list-group">
  <li *ngFor="let r of reservations | paginate: { itemsPerPage: 3, currentPage: p }"
    class="list-group-item page-item border-0">
    <div class="reservation card" (click)="setMarker(r)">
      <div class="card-header d-flex justify-content-between"
        [ngClass]="r.status == 'ACTIVE' ? 'text-success' : 'text-danger'">
        <span>Seats left: {{ r.availableSeats }}</span>
        <span>{{ r.status }}</span>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ r.pickupLocation.city }} - {{ r.dropoutLocation.city }}</h5>
        <p class="card-text">{{ formatTime(r.startTime) }} - {{ formatTime(r.endTime) }}</p>
        <span>Price: {{ r.tripCost }}den</span>
        <div class="d-flex justify-content-between align-items-center">
          <span>Driver: {{r.driver.firstName}} {{r.driver.lastName}}</span>
          <span>Contact: {{r.driver.phoneNumber}}</span>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <span>Vehicle make: {{r.driver.vehicle?.make}}</span>
          <span>Vehicle model: {{r.driver.vehicle?.model}}</span>
          <form *ngIf="r.status=='ACTIVE' && !admin && !customer" (ngSubmit)="reserved(r)" method="post">
            <div>
              <button class="btn btn-sm btn-outline-success" type="submit">RESERVE</button>
            </div>
          </form>
          <form *ngIf="!admin && customer" (ngSubmit)="unreserved(r)" method="post">
            <div>
              <button class="btn btn-sm btn-outline-danger" type="submit">CANCEL RESERVATION</button>
            </div>
          </form>
        </div>
        <div *ngIf="admin">
          <ul>
            <li *ngFor="let customer of r.customers">{{customer.email}}</li>
          </ul>
        </div>
      </div>
    </div>
  </li>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</ul>