<ul class="list-group">
  <li *ngFor="let r of reservations | paginate: { id:'pagination1', itemsPerPage: 3, currentPage: p }"
    class="list-group-item page-item border-0">
    <div class="reservation card">
      <div class="card-header d-flex justify-content-between"
        [ngClass]="r.status == 'ACTIVE' ? 'text-success' : 'text-danger'">
        <span>Seats left: {{ r.availableSeats }}</span>
        <span>{{ r.status }}</span>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ r.pickupLocation.city }} - {{ r.dropoutLocation.city }}</h5>
        <p class="card-text">{{ formatTime(r.startTime) }} - {{ formatTime(r.endTime) }}</p>
        <span>Price: {{ r.tripCost }}den</span>
        <div class="d-flex justify-content-between align-items-center">
          <span>Driver: {{r.driver.firstName}} {{r.driver.lastName}}</span>
          <span>Contact: {{r.driver.phoneNumber}}</span>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <span>Vehicle make: {{r.driver.vehicle?.make}}</span>
          <span>Vehicle model: {{r.driver.vehicle?.model}}</span>
          <form method="delete">
            <div>
              <button class="btn btn-sm btn-outline-danger" type="submit" (click)="deleteReservation(r.id)">DELETE RESERVATION</button>
            </div>
          </form>
        </div>
        <div *ngIf="admin">
          <ul>
            <li *ngFor="let customer of r.customers">Reserved by: {{customer.firstName}} {{customer.lastName}} {{customer.phoneNumber}}</li>
          </ul>
        </div>
      </div>
    </div>
  </li>
  <pagination-controls id='pagination1' (pageChange)="p = $event"></pagination-controls>
</ul>
